.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  box-shadow: 0 0.0625rem 0.1875rem var(--boxShadow-color1), 0 0.0625rem 0.125rem var(--boxShadow-color2);

  .logo {

    .logoSpan {
      font-size: 4rem;
      font-family: var(--fontFamily);
      font-weight: 900;
      color: var(--coditasColor);
    }
  }

  .headingC {
    .heading {
      font-size: 2rem;
      font-family: var(--fontFamily);
      color: var(--headingColor);
      font-weight: 600;
    }
  }
}