@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.uploadForm {
  @include container();
  min-height: 80vh;

  .formContainer {
    @include formContainer();

    .heading {
      @include heading();
    }

    .formElements {
      @include fieldWrapper();

      .textarea {
        border: 1px solid darkgrey;
        border-radius: 5px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.05);
        color: black;
        font-size: toRem(15);
      }
    }

    .submitBtn {
      @include button();
    }
  }
}