@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.input {
  display: flex;
  width: 100%;
  border: 0.1rem solid #d0d5dd;
  padding: 1rem;
  background-color: $white;
  border-radius: .5rem;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: toRem(15);

  &:hover {
    outline: 1px solid black;
  }

  &:focus {
    outline: 2.5px solid #39a1f6;
  }
}