@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.personelForm {
  @include container();

  .formContainer {
    @include formContainer();

    .heading {
      @include heading();
    }

    .formElements {
      @include fieldWrapper();

      .errorVisibility {
        visibility: hidden;
      }

      .textarea {
        border: 1px solid darkgrey;
        border-radius: 5px;
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.05);
        color: black;
        font-size: toRem(15);
      }

      .error {
        font-family: var(--fontFamily);
        font-size: 1rem;
        color: #eb0000;
        font-weight: 200;
        line-height: 150%;
      }

      .inputContainer {
        @include inputContainer();
        
      }

      .specificElements {
        flex: 1;
      }
    }

    .submitBtn {
      @include button();
    }
  }
}