:root {
  --coditasColor: #2c74d6;
  --headingColor: #1d2939;
  --fontFamily: "Source Code Pro";
  --boxShadow-color1: #1018281a;
  --boxShadow-color2: #1018280f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}