@import "../styles/mixins.scss";
@import "..//styles/variables.scss";

.login {
  background-color: $white;
  box-sizing: border-box;
  display: flex;
  flex: 1 1;
  font-family: Roboto;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;

  .sectionLeft,
  .sectionRight {
    align-items: center;
    display: flex;
    flex: 1 1;
    justify-content: center;
    overflow: hidden;
  }

  .sectionRight {
    background-color: var(--coditasColor);
    display: flex;
    justify-content: center;
    align-items: center;

    .colon {
      font-size: 25rem;
      font-family: var(--fontFamily);
      color: white;
      font-weight: 900;
    }
  }

  .sectionLeft {
    .loginContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 50%;

      .formElements {
        display: flex;
        flex-direction: column;

        .fieldWrapper {
          @include fieldWrapper();

          .errorVisibility {
            visibility: hidden;
          }
        }
      }

      .heading {
        @include heading();
        text-align: left;
      }

      .heading1 {
        @include heading();
        text-align: left;
        font-size: toRem(40);
        color: var(--coditasColor) !important;
      }

      .error {
        font-family: var(--fontFamily);
        font-size: 1rem;
        color: #eb0000;
        font-weight: 200;
        line-height: 150%;
      }

      .submitBtn {
        @include button();
        font-size: toRem(20);
      }
    }
  }
}