@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.showFormContainer {
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
  // min-height: 100vh;
  // min-width: 100vw;
  // flex-wrap: wrap;
  // justify-self: center;
  height: 80vh;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  overflow-x: hidden;


  .wrapper {
    width: toRem(350);
    padding: toRem(30);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0 0.0625rem 0.1875rem var(--boxShadow-color1), 0 0.0625rem 0.125rem var(--boxShadow-color2);
    margin: 1rem;
  }

  .buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;

    .button {
      padding: 1rem;
      font-size: toRem(17);
      font-weight: 400;
      border-radius: 5px;
      cursor: pointer;
      margin: 1rem;
    }
  }

  .img_area {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heading1 {
    @include heading();
    color: #2196f3 !important;
    font-size: toRem(20);
  }

  .heading {
    @include heading();
    font-size: toRem(15);
    margin-top: -2rem;
  }
}