@mixin fieldWrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 6px;
}

;

@mixin inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  gap: 1rem;
}

;

@function toRem($val) {
  $remval : ($val/16) + rem;
  @return $remval
}

;

@mixin container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 100vw;
  -webkit-font-smoothing: antialiased;
}

;

@mixin formContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  box-shadow: 0 0.0625rem 0.1875rem var(--boxShadow-color1), 0 0.0625rem 0.125rem var(--boxShadow-color2);
  padding: 0 2rem 0 2rem;
}

;

@mixin heading {
  font-size: 1.812rem;
  color: #1d2939 !important;
  font-family: var(--fontFamily);
  color: var(--headingColor);
  font-weight: 600;
  line-height: 120%;
  padding: 2rem 0 1rem 0;
  text-align: center;
}

;

@mixin button {
  color: $white !important;
  background-color: #2196f3;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  min-height: 2.5rem;
  padding: 1rem !important;
  width: 100%;
  border-radius: .5rem !important;
  font-family: var(--fontFamily);
  margin: 1rem 0 2rem 0;
  cursor: pointer;
}

;